# Ignore build artifacts
**/bin/
**/obj/
**/out/
.vs/
/.vs/BlazorWasmApp/v17/.suo
release/
/.vs/BlazorWasmApp/FileContentIndex/0230cb5f-addf-4a7b-916e-4588520bc647.vsidx
/.vs/BlazorWasmApp/FileContentIndex/0230cb5f-addf-4a7b-916e-4588520bc647.vsidx
/.vs/BlazorWasmApp/FileContentIndex/8e1ec6ad-b32a-4fca-9653-8b825e59fb5b.vsidx
