@page "/"
@using BlazorWasmClient.Services
@using BlazorWasmShared.Models
@inject ProfessorService ProfessorService
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<button @onclick="ExportProfessors">Export to Excel</button>
<input type="file" @onchange="ImportProfessors" accept=".xlsx" />
@code {
    private List<Professor>? professors;
    private async Task ExportProfessors()
    {
        var fileUrl = await ProfessorService.ExportProfessorsToExcel();
        Navigation.NavigateTo(fileUrl, true);
    }

    private async Task ImportProfessors(ChangeEventArgs e)
    {
        if (e.Value is not null and IBrowserFile file)
        {
            await ProfessorService.ImportProfessorsFromExcel(file);
        }
    }
}
}