@page "/"
@using BlazorWasmClient.Services
@using BlazorWasmShared.Models
@inject ProfessorService ProfessorService
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<button @onclick="ExportProfessors">Export to Excel</button>
<input type="file" @onchange="HandleFileSelected" accept=".xlsx" />
<button @onclick="ImportProfessors">Upload</button>
@code {
    private IBrowserFile selectedFile;
    private List<Professor>? professors;
    private void HandleFileSelected(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            selectedFile = ((IBrowserFile)e.Value);
        }
    }
    private async Task ExportProfessors()
    {
        var fileUrl = await ProfessorService.ExportProfessorsToExcel();
        Navigation.NavigateTo(fileUrl, true);
    }

    private async Task ImportProfessors()
    {
        if (selectedFile is null)
        {
            Console.WriteLine("No file selected.");
            return;
        }

        await ProfessorService.ImportProfessorsFromExcel(selectedFile);
    }

}